@use '@theme' as *;
@use '@uikit' as *;
@use '@core' as *;

.faq {
  @include flex(40, row);

  @include screen(md) {
    flex-direction: column;
  }

  &__header {
    @include flex(12);
    flex: 1;
  }

  &__content {
    flex: 1;
  }
}
