@forward './Hero';
@forward './About';
@forward './Pricing';

@use '@uikit' as *;
@use '@core' as *;

.page {
  @include page-container($max-container-width: 1440, $top: 0, $bot: 0);
  display: flex;
  height: 100%;
  flex-direction: column;
}

.hero__wrapper {
  display: grid;
  background-color: $color-bg-primary;
}

.about__wrapper {
  @include container($max-container-width: 1440, $left: 20, $right: 20);
  padding: rx(60) rx(20);
  background-color: $color-bg-secondary;
  color: $color-fg-secondary;
  @include selection($selection-bg-secondary, $selection-fg-secondary);
}

.pricing__wrapper {
  @include container($max-container-width: 1440, $left: 20, $right: 20);
  padding: rx(60) rx(20);
  background-color: $color-bg-secondary;
  color: $color-fg-secondary;
  @include selection($selection-bg-secondary, $selection-fg-secondary);
}
