@use '@/shared/theme/main' as *;
@use '@/shared/uikit/main' as *;

html {
  height: 100%;
  width: 100%;
}

body {
  background-color: $color-bg-primary;
  background-image: $gradient-brand;
  color: $color-fg-primary;
}

#app {
  @include flex();
  justify-content: center;
  align-items: center;
  font-family: $font-family-primary;
}

* {
  @include selection($selection-bg, $selection-fg);
}

.container {
  @include container(1440px);
}

.flex {
  @include flex(2);
  align-items: center;
}
