@use '@/shared/theme/main' as *;
@use '@/shared/uikit/main' as *;
@use '@/pages/style';

* {
  @include selection($selection-bg, $selection-fg);
}

*,
::before,
::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
ol,
li,
ul,
p {
  padding: 0;
  margin: 0;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
}

html {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  @include flex;
  height: 100%;
  background-color: $color-bg-primary;
  background-image: $gradient-brand;
  color: $color-fg-primary;
}

#app {
  @include flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  font-family: $font-family-primary;
}
