@use '@uikit' as *;
@use '@core' as *;

$porfolio-inline-size: clamp(21.25rem, 20.802rem + 1.887vi, 22.5rem);

.portfolio {
  display: grid;
  grid-template-columns: rx(20) [start] 1fr [end] rx(20);
  row-gap: rx(40);

  &__header {
    @include flex(12);

    grid-column: start / end;
    max-inline-size: $porfolio-inline-size;
  }

  &__content {
    grid-column: 1 / -1;
  }
}
